@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.profile {
  &__name {
    text-shadow: $shadow-2;
  }
  &__wrapper--alt {
    border: 2px solid #1e2f23;
    box-shadow: 0rem 0rem 0.5rem 0rem #216869;
  }
}
