@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.add-friends {
  //   width: fit-content;
  //   margin: 0 auto;

  &__button {
    width: 100%;
    position: absolute;
    top: 3rem;
    left: 0;
    display: flex;
    justify-content: center;
  }

  &__close {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    overflow: hidden;
    background-color: $alt-logo;
  }
  &__image-container {
    margin: 1rem;
    order: 2;
    width: fit-content;
    border-radius: 25%;
    height: 27.75px;
    background-color: $white-1;
    border: 3px solid $logo-colour;
    &:hover {
      background-color: $logo-colour;
    }
  }
  &__image {
    border-radius: 25%;
    cursor: pointer;
    &:hover {
      filter: invert(100%);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    order: 1;
    margin: 0.5rem 1rem;
    color: $white-1;
    font-weight: 600;
    font-size: $size-sub-header;
  }
  &__search {
    margin: 1rem 0.5rem;
  }
  &__form-label {
    font-weight: 600;
    font-size: $size-sub-header;
    padding-bottom: 0.5rem;
  }
}
