@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.modal {
  // width: 65%;
  height: fit-content;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  border-radius: 25px;
  padding: 0.5rem;
  transform: translate(-50%, -50%);

  @include tablet {
    position: static;
    transform: none;
  }
  &--active {
    @include tablet {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
  &__overlay {
    width: 100%;

    @include mobile-only {
      z-index: 2;
    }
    height: 100%;
    @include tablet {
      position: static;
      // width: 50%;
    }
  }
  &__overlay--friends,
  &__overlay--post,
  &__overlay--active {
    @include mobile-only {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  &__overlay--active {
    @include tablet {
      position: fixed;
      top: 0;
    }
  }
  &__overlay--post {
    @include mobile-only {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  &__friends {
    padding: 0;
    border: 2px solid $logo-colour;
  }
  //   &__inner {
  //     width: 90%;
  //     margin: auto;
  //     margin-bottom: 2rem;
  //   }
  //   &__title {
  //     font-size: 3rem;
  //     font-weight: 300;
  //     margin: 1.5rem 0;
  //   }
  //   &__subtitle {
  //     color: #7e3fbd;
  //     font-size: 2rem;
  //     font-weight: 400;
  //     margin-top: 0.5rem;
  //   }
  //   &__content {
  //     display: flex;
  //     gap: 2rem;
  //   }
  //   &__cancel-wrapper {
  //     text-align: right;
  //   }
}
