@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.post {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border: 2px solid $secondary-colour;
  border-radius: 25px;
  padding: 0.5rem;

  &__outer {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__close {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    overflow: hidden;
    background-color: $alt-logo;
  }
  &__image-container {
    margin: 1rem;
    order: 2;
    width: fit-content;
    border-radius: 25%;
    height: 27.75px;
    background-color: $white-1;
    border: 3px solid $logo-colour;
    &:hover {
      background-color: $logo-colour;
    }
  }
  &__image {
    border-radius: 25%;
    cursor: pointer;
    &:hover {
      filter: invert(100%);
    }
  }
  &__text {
    order: 1;
    margin: 0.5rem 1rem;
    color: $white-1;
    font-weight: 600;
    font-size: $size-sub-header;
  }

  &__icon {
    width: 5rem;
  }
  &__icon-container {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }
  &__int-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 5rem);
  }

  &__flex-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__name {
    margin: 0;
  }
  &__post {
    margin: 0;
  }
}
