$primary-colour: #323232;
$secondary-colour: #158463;
$tertiary-colour: #afafaf;
$white-1: #ffffff;
$alt-primary-colour: #000000;
$alt-secondary-colour: rgba(21, 132, 99, 0.5);
$alt-tertiary-colour: #e1e1e1;
$white-2: #fafafa;

$font-regular: 400;
$font-demi: 600;
$font-bold: 700;

$size-header: 2rem;
$size-text: 1rem;

$size-header-tablet: 3.75rem;
$size-sub_header-tablet: 2.5rem;

$padding-navbar: 1.75rem 0;
