$primary-colour: #323232;
$secondary-colour: #158463;
$tertiary-colour: #afafaf;
$white-1: #ffffff;
$alt-primary-colour: #000000;
$alt-secondary-colour: rgba(21, 132, 99, 0.5);
$alt-tertiary-colour: #e1e1e1;

$logo-colour: rgb(90, 74, 228);
$alt-logo: rgb(90, 74, 228, 0.5);
$background-red: rgba(132, 21, 21, 0.5);
$white-2: #fafafa;

$font: "Titillium Web";
$font-regular: 400;
$font-demi: 600;
$font-bold: 700;

$size-header: 2rem;
$size-text: 1rem;
$size-sub-header: 1.5rem;

$size-header-tablet: 3.75rem;
$size-sub_header-tablet: 2.5rem;

$padding-navbar: 1.75rem 0;

$icon: 4rem;
$navbar-width: 6rem;
$header-height: 2.5rem;

$shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
$shadow-2: 0px 2px 10px rgba(0, 0, 0, 0.5);
