@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography";
@use "../styles/partials/resets" as *;
@use "../styles/partials/variables" as *;

.friends {
  @include mobile-container;
  margin: 0 auto;
  @include tablet {
    @include tablet-container;
  }
  &__title {
    margin: -3rem 0 6rem 0;
    text-align: center;

    font-size: $size-header;
    color: $white-1;
  }

  &__flex {
    height: 65vh;
    overflow: scroll;
    overflow-x: hidden;

    @include tablet {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  }
  &__flex::-webkit-scrollbar {
    display: none;
  }
  &__add {
    display: flex;
    justify-content: center;
  }
}
