@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.signup-page {
  // background-color: #f5f5f5;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.signup {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 22rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;

  &__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 5px solid $logo-colour;
    padding-bottom: 0.5rem;
    align-self: center;
  }

  &__button {
    margin-top: 1rem;

    background-color: $alt-logo;
    border: 2px solid $logo-colour;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: $size-sub-header;
    cursor: pointer;
    transition: background-color 0.15s;

    &:hover {
      background-color: $logo-colour;
    }
  }

  &__message {
    border-left: 5px solid #ddd;
    padding: 0.75rem;
    margin-top: 2rem;
  }
  &__error {
    color: $background-red;
    &-container {
      display: flex;
      gap: 0.25rem;
    }
  }
  &__image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
  }
  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__prompt {
    font-weight: 600;
    color: #1f2f23;
    background-color: #8cc1b175;
    border: 2px solid #21686a;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
  }
  &__outerbar {
    display: flex;
    justify-content: center;
    border: 2px solid #21686a;
    position: relative;
    border-radius: 10px;
    margin: 0.5rem 0;
  }
  &__innerbar {
    background-color: $logo-colour;
    height: 1rem;
  }
}
