@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.header {
  width: 100%;
  background-color: $alt-secondary-colour;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

  &__navbar {
    position: relative;
    width: 100%;
  }
  &__wrapper {
    height: $header-height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
